form {
    margin: 30%;
    margin-top: 2%;
    margin-bottom: 0%;
    overflow: hidden;
}

li {
    color: darkred;
    font-size: small;
}

@media screen and (max-width: 800px) {
    form {
        margin: 10%;
    }
}